.z-index-tooltip {
  z-index: $z-index-tooltip;
}

.z-index-below-layout {
  z-index: $z-index-below-layout;
}

.z-index-layout {
  z-index: $z-index-layout;
}

.z-index-above-overlay {
  z-index: $z-index-above-overlay;
}

.z-index-overlay {
  z-index: $z-index-overlay;
}

.z-index-below-overlay {
  z-index: $z-index-below-overlay;
}

.z-index-hide {
  z-index: $z-index-hide;
}

.z-index-play {
  z-index: $z-index-play;
}

.z-index-mysteries-logo {
  z-index: $z-index-mysteries-logo;
}
